*,
*::before, 
*::after{
    box-sizing: border-box;
}
header {
    padding: 2px;
    text-align: center;
    color: #4e0d83;
    background-color: white;
    border-radius: 5px;
}
h1 {
    display: inline-block;
    font-size: 55px;
    font-family: monospace;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    font-size: 28px;
    font-family: fantasy;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px;
}
.btn {
    background-color: #4e0d83;
    color: white;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
}
.btn:hover {
    border-color: black;
}
.start-btn, .next-btn {
    font-size: 28px;
    font-family: monospace;
    font-weight: bold;
    padding: 10px 20px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}